@font-face {
  font-family: 'Source Sans Pro';
  src:  url('fonts/SourceSansPro-Light.woff') format('woff'),
        url('fonts/SourceSansPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:  url('fonts/SourceSansPro-Regular.woff') format('woff'),
        url('fonts/SourceSansPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:  url('fonts/SourceSansPro-Semibold.woff') format('woff'),
        url('fonts/SourceSansPro-Semibold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
