@import 'settings/typography.css';
@import 'settings/colors.css';

/**
 * Typography defaults
 */

body {
  font-family: var(--ff-sans);
}

p {
  margin-bottom: .6em;
}

a:any-link {
  color: var(--blue);
}

strong {
  font-weight: var(--fw-semibold);
}

/* ----- Titles ----- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .8rem;
}

/* ----- Lists ----- */

ul {
  padding-left: 0;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 2em;
}

ol {
  padding-left: 0;
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 2em;
}

dl {
  margin: 0;
  margin-bottom: 2em;
}

dt,
dd {
  margin-bottom: .2em;
  margin-left: 0;
}

dt {
  font-weight: bold;
}
