@import 'settings/colors.css';
@import 'settings/mediaqueries.css';
@import 'settings/grid.css';
@import 'settings/typography.css';

body {
  background: var(--blue-darkest);
}

.content {
  composes: flex relative from 'basscss/css/basscss.css';
  flex-direction: column;
  top: 50vh;
  transform: translateY(-55%);

  @media (--mq-m) {
    flex-direction: row;
  }
}

.main {
  composes: flex flex-column justify-between from 'basscss/css/basscss.css';
  flex: 1;
}

.body {
  composes: py3 from 'basscss/css/basscss.css';

  @media (--mq-m) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.intro,
.data {
  composes: fz-base from 'tools/typography.css';
  composes: inline from 'basscss/css/basscss.css';
  color: var(--grey-light);
  font-weight: var(--fw-regular);
}
