*, *::after, *::before { box-sizing: inherit }
html { box-sizing: border-box }

img { max-width: 100%; height: auto }
audio, canvas, img, svg, video { vertical-align: middle }

body { background: #142933 }
